<div class="d-flex justify-content-center">
  <%= form_with model: @user, local: true do |form| %>
    <%= form.file_field :avatar, accept: "image/png,image/jpeg,image/gif" %>
    <%= form.submit "画像を変更", class: "btn btn-primary btn-block mt-4" %>
  <% end %>
</div>