<div class="base-content">
  <h2 class="text-center">ニックネームの編集</h2>
<div class="d-flex justify-content-center mt-5">
  <%= form_with model: @user, local: true do |f| %>
    <div class="form-group">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: "form-control", rows: 1, required: true, maxlength: 30 %>
    </div>
    <%= f.submit "変更", class: "btn btn-primary btn-block mt-5" %>
  <% end %>
</div>

</div>
