<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= @contact.errors.count %> つのエラーがあります</h2>
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
