<h3 class="text-center">注目のタグ</h3>
<% @pickup_tags.first(10).each do |tag| %>
  <div class= "hashtag-name d-inline-flex flex-wrap">
    <span class="mx-2">
        <%= link_to "#{tag.hashname} (#{tag.posts.count})", hashtag_posts_path(hashtag_id: tag.id), data: {"turbolinks" => false} %>
    </span>
  </div>
<% end %>

<button type="button" class="btn btn-primary btn-sm btn-block w-50 mt-3 d-block mx-auto" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    すべてのタグを開く
</button>
<div class="collapse" id="collapseExample">
    <div class="border p-3">
        <div class= "hashtag-name d-inline-flex flex-wrap">
            <% @tag_list.each do |list| %>
                <span class="mx-2">
                    <%= link_to "#{list.hashname} (#{list.posts.count})", hashtag_posts_path(hashtag_id: list.id), data: {"turbolinks" => false} %>
                </span>
            <% end %>
        </div>
    </div>
</div>

<hr>