<div class="base-content">
  <%= render "hashtag_list" %>
  <% if params[:name] == nil %>

  <% else %>
    <h3>ハッシュタグ #<%= @hashtag.hashname %></h3>
              <%= render @posts %>
  <% end %>
</div>