<h1 class="text-center">詳細表示</h1>
<section class="card border-dark mt-5">
  <div class="card-header">
    <h4><%= @post.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(h @post.content) %></p>
  </div>
</section>
