#tree_menu {
  width: 200px;
  position: absolute;
  z-index: 10;
  display: flex;

  .categoryTree {
    display: none;
    height: 100%;
    border: 1px solid #34aeb3;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #999;

    a {
      padding: 0;

      input[type='button'] {
        min-width: 200px;
        height: 35px;
        font-size: 14px;
        color: #3ccace;
        background: #ffffff;
        outline: none;
        transition: 0.4s;
        border: #ffffff;
        padding: 0 0.9em;
        cursor: pointer;
      }

      input[type='button']:hover {
        background: #62d4d7;
        color: white;
      }

      input[type='button']:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
      }
    }
  }

  .categoryTree-child {
    display: none;
    height: 100%;
    border: 1px solid #34aeb3;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #999;

    .category_child {
      a {
        padding: 0;

        input[type='button'] {
          min-width: 230px;
          height: 35px;
          font-size: 14px;
          color: #3ccace;
          background: #ffffff;
          outline: none;
          transition: 0.4s;
          border: #ffffff;
          padding: 0 0.9em;
          cursor: pointer;
        }

        input[type='button']:hover {
          background: #62d4d7;
          color: white;
        }

        input[type='button']:active {
          -webkit-transform: translateY(2px);
          transform: translateY(2px);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
          background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
        }
      }
    }
  }

  .categoryTree-grandchild {
    display: none;
    height: 100%;
    border: 1px solid #34aeb3;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #999;

    a {
      padding: 0;

      input[type='button'] {
        min-width: 250px;
        height: 35px;
        font-size: 14px;
        color: #3ccace;
        background: #ffffff;
        outline: none;
        transition: 0.4s;
        border: #ffffff;
        padding: 0 0.9em;
        cursor: pointer;
      }

      input[type='button']:hover {
        border: 1px solid #62d4d7;
        background: #62d4d7;
        color: white;
      }

      input[type='button']:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
      }
    }
  }
}
