<% flash.each do |flash_type, msg| %>
  <div class="alert alert-<%= flash_type %> margin-cancell flash-window hidden" role="alert">
    <a href="#" class="close flash-window--delete mx-3" data-dismiss="alert">x</a>
    <%= msg %>
  </div>
<% end %>
